// Specific CSS for your home-page
body {
  background: url("https://res.cloudinary.com/dcptvbn0h/image/upload/v1572992412/67663_kkibev.jpg");
  background-size: 100%;
}

#pic {
  background: url("https://res.cloudinary.com/dcptvbn0h/image/upload/v1572992849/sg_web_MG_7676_saiigp.jpg");
  height: 100vh;
}

#back {
  background: url("https://res.cloudinary.com/dcptvbn0h/image/upload/v1572992849/sg_web_MG_7676_saiigp.jpg");
  height: 100vh;
  background-size: 100vh;
  background-position: center;
  position: relative;
}

#header {
  position: absolute;
  top: 10px;
  h1 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

#one {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: bold;
}

#two {
  font-family: 'Lora', serif;
  font-size: 2,5em
}

.card-origin {
  border-radius: 6px;
  box-shadow: 0 3px 8px rgba(54,54,54,.19);
  background: linear-gradient(135deg, #a2cff2, #c7e2f7);
  overflow: hidden;
}

.fontone {
  font-family: 'Montserrat', sans-serif;
}

.fonttwo {
  font-family: 'Lora', serif;
}

.button {
 background: linear-gradient(135deg, #731963, #731963);
 color: white;
 width: 100%;
 border-radius: 6px;
 font-family: 'Montserrat', sans-serif;
}

.text {
  text-align: center;
}

.round {
  border-radius: 15px;
}
